__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

outputs/
*.pt
*.onnx
*.mp4
events.out.tfevents.*

.matplotlib/
.warp/
.mujoco/
.viser/

.idea/
.vscode/
.DS_Store
Thumbs.db

